<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Streaming</title>
    <link rel="stylesheet" href="/static/materialize.min.css">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />

    <style>
      body {
        background-color: #FFB300;
      }
      .card {
        margin-top: 4rem;
        padding: 1rem;
      }
    </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col m10">
      <div class="card">
        <div class="card-content">
          <span class="card-title">live stream (4)</span>
          <video-js id="me" width="640" height="360" class="vjs-default-skin" controls>
            <source
              src="http://localhost:8080/hls/{{stream_key}}.m3u8"
              type="application/x-mpegURL">
          </video-js>
          <br><br>
          <video-js id="other" width="640" height="360" class="vjs-default-skin" controls>
            <source
              src="http://localhost:8080/hls/{{stream_key}}.m3u8"
              type="application/x-mpegURL">
          </video-js>
        </div>
      </div>
      </div>
    </div>
  </div>

  <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
  <script>
    videojs('me').ready(function() {
      this.play();
    });
    videojs('other').ready(function() {
      this.play();
    });
  </script>
</body>
</html>